.category-hierarchy-container {
  padding: 16px;
}

.add-category-button,
.submit-button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: #fa582d;
  }
}

.category-list {
  margin-bottom: 16px;
}

.category-input {
  margin-top: 8px;
}

.category-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.table-container {
  overflow-x: auto;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table-header {
  padding: 8px;
  background-color: #f7f7f7;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table-cell {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.addcategory-btn-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .language-dropdown {
    display: flex;
    align-items: center;
    gap: 4px;

    .language-dropdown-button {
      position: relative;
      max-width: 190px;

      .dropdown-toggle {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px;
        background: transparent;
        border: 1px solid #c1c1c1;
        border-radius: 20px;
        width: 190px;
        justify-content: space-between;
        font-size: 14px;


      }

      .language-dropdown-open {
        position: absolute;
        background-color: white;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .language-dropdown-items {
          cursor: pointer;
          font-size: 14px;
          display: flex;
          justify-content: space-between;

          &.selected {
            color: #fa582d;
          }

          &:hover {
            background-color: #f7f7f7;
          }

        }

      }
    }
  }
}

.horizental-line {
  border: none;
  border-bottom: 1px solid #dddddd;
  margin: 20px 0;
}